<%= stylesheet_link_tag "articles.css" %>
<h1>The Big List of all Articles</h1>

  <div class="header_container">
    <p class="title header">Title</p>
    <p class="author header">Author</p>
    <p class="text header">Text</p>
    <p class="created_at header">Created At</p>
    <p class="header"></p>
    <p class="header"></p>
    <p class="header"></p>
  </div>
  <div class="article_container">
    <% @articles.each do |article| %>
      <div class="individual_article">
        <p class="title"><%= article.title %></p>
        <p class="author"><%= article.author %></p>
        <p class="text"><%= article.text %></p>
        <p class="created_at"><%= article.created_at %></p>
        <div class="button_container">
          <%= link_to "Show", article_path(article), :class => "show_button" %>
          <%= link_to "Edit", edit_article_path(article), :class => "edit_button"  %>
          <%= link_to "Destroy", article_path(article), method: :delete, data: {confirm: "Are you sure?" }, :class => "destroy_button"  %>
        </div>
      </div>
    <% end %>
  </div>